{% set pageTitle = "Tell us how your health condition or disability affects you" %}

{% extends "agent-v1/includes/layout-dwp-task.html" %}

{% block beforeContent %}
{% endblock %}

{% block content %}


  <div class="govuk-grid-row">


      <!-- <div class="govuk-notification-banner" role="region" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
        <div class="govuk-notification-banner__header">
          <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
            Important
          </h2>
        </div>
        <div class="govuk-notification-banner__content">
          <p class="govuk-notification-banner__heading">
            Submit your application by 3 December 2021

          </p>
        </div>
      </div> -->

<div class="govuk-width-container">
        


          



  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      <form action="XXX" method="post" class="form">

        <p class="govuk-heading-xl govuk-!-margin-bottom-8">My Personal Independence Payment tasks</p>

        <div class="govuk-grid-row">
          <div class="govuk-grid-column-full">

<button type="submit" class="govuk-button" data-module="govuk-button">
  Claim new task
</button>


<div style="display: flex; justify-content: space-between; align-items: flex-end;">

  <!-- LEFT -->
  <div class="govuk-form-group">
    <label class="govuk-label" for="filter">
      Filter your tasks
    </label>

    <div style="display: flex; gap: 10px; align-items: center;">
      <input class="govuk-input" id="filter" name="filter" type="text">
      <button class="govuk-button govuk-button--secondary govuk-!-margin-bottom-0">Filter</button>
    </div>
  </div>

  <!-- RIGHT -->
  <div class="govuk-form-group" style="text-align: right;">
    <label class="govuk-label" for="sort">
      Sort by
    </label>
    <select class="govuk-select" id="sort" name="sort">
      <option>Claimed, newest to oldest</option>
      <option>Claimed, oldest to newest</option>
      <option>Due, soonest to latest</option>
      <option>Due, latest to soonest</option>
      <option>Created, newest to oldest</option>
     <option>Created, oldest to newest</option>


    </select>
  </div>

</div>

<br>

<table class="govuk-table">
  <caption class="govuk-table__caption govuk-table__caption--m">Tasks</caption>
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header" style="width: 5%;">Details</th>
      <th scope="col" class="govuk-table__header" style="width: 15%;">Created</th>
      <th scope="col" class="govuk-table__header" style="width: 25%;">Task</th>
      <th scope="col" class="govuk-table__header" style="width: 20%;">National Insurance number</th>
      <th scope="col" class="govuk-table__header" style="width: 15%;">Due</th>
      <th scope="col" class="govuk-table__header" style="width: 10%;">Status</th>

    </tr>
  </thead>
  <tbody class="govuk-table__body">

     <tr class="govuk-table__row">
      
      <td class="govuk-table__cell"><a href="#">Action</a></td>
      <td class="govuk-table__cell">11 June 2026</td>
       <td class="govuk-table__cell">Outbound call</td>
        <td class="govuk-table__cell">QQ 12 34 56 X</td>
         <td class="govuk-table__cell">None</td>
        <td class="govuk-table__cell"> <strong class="govuk-tag govuk-tag--yellow">Allocated</strong></td>
    </tr>

    <tr class="govuk-table__row">
      
      <td class="govuk-table__cell"><a href="">Start</a></td>
      <td class="govuk-table__cell">10 May 2026</td>
       <td class="govuk-table__cell">Prepare an application for an assessment provider</td>
        <td class="govuk-table__cell">DQ 38 71 25 A</td>
         <td class="govuk-table__cell">11 Jun 2026 at 16:45</td>
          <td class="govuk-table__cell"> <strong class="govuk-tag govuk-tag--yellow">Allocated</strong></td>
    </tr>
     <tr class="govuk-table__row">
      
      <td class="govuk-table__cell"><a href="">Start</a></td>
      <td class="govuk-table__cell">10 Jun 2026</td>
       <td class="govuk-table__cell">Make a decision on a mandatory reconsideration</td>
        <td class="govuk-table__cell">FZ 94 20 66 B</td>
         <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--red">Overdue</strong><br>10 Jun 2026 at 16:46</td>
          <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--yellow">Allocated</strong></td>
    </tr>
     <tr class="govuk-table__row">
      
      <td class="govuk-table__cell"><a href="">Start</a></td>
      <td class="govuk-table__cell">6 Jun 2026</td>
       <td class="govuk-table__cell">Make a decision on a mandatory reconsideration</td>
        <td class="govuk-table__cell">IQ 11 82 73 C</td>
         <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--red">Overdue</strong><br>7 Jun 2026 at 09:28</td>
          <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--yellow">Allocated</strong></td>
    </tr>

     <tr class="govuk-table__row">
      
      <td class="govuk-table__cell"><a href="">Action</a></td>
      <td class="govuk-table__cell">4 Jun 2026</td>
       <td class="govuk-table__cell">Make a decision on a mandatory reconsideration</td>
        <td class="govuk-table__cell">QV 57 03 49 D</td>
         <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--red">Overdue</strong><br>5 Jun 2026 at 12:28</td>
          <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--blue">On hold</strong><br>until 19 Jun 2026</td>
    </tr>

     <tr class="govuk-table__row">
      
      <td class="govuk-table__cell"><a href="">Action</a></td>
      <td class="govuk-table__cell">27 May 2026</td>
       <td class="govuk-table__cell">Make a decision</td>
        <td class="govuk-table__cell">DU 86 19 52 A</td>
         <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--red">Overdue</strong><br>30 May 2026 at 13:12</td>
          <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--blue">On hold</strong><br>until 19 Jun 2026</td>
    </tr>

     <tr class="govuk-table__row">
      
      <td class="govuk-table__cell"><a href="">Action</a></td>
      <td class="govuk-table__cell">22 May 2026</td>
       <td class="govuk-table__cell">Make a decision</td>
        <td class="govuk-table__cell">FI 24 65 90 B</td>
         <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--red">Overdue</strong><br>25 May 2026 at 09:50</td>
          <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--blue">On hold</strong><br>until 19 Jun 2026</td>
    </tr>
  </tbody>
</table>



        







        </div></div></form></div></div></main>
      </div>

    </div>{# /govuk-grid-column-two-thirds #}

  </div>{# /govuk-grid-row #}

{% endblock %}
